$grey-color: #eeeeee;
$white: #fffafa;
$green: rgba(0, 250, 154, 1);
$blue: #0449ed;
$features-color: #297cac;
$features-bgc: #def0f0;
$mobile-lg: 500px;
$tablet-sm: 750px;
$tablet-lg: 1000px;
$desktop: 1200px;

