.header-widget{
	//background-image: linear-gradient(#006d68, #c9ffc9 80%);
	background-color: $green;
}
.logo {
	padding:5px;
	display: inline-block;
	width: 60%;
	margin: 10px 5px 15px;
	vertical-align: middle;
	@media(min-width: $tablet-sm){
		width: 40%;
	}
}
.btn--menu{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-image: url("/img/HAMBURGER-MENU.svg");
	vertical-align: middle;
	text-align: right;
	margin-left: 55px;
	background-color: transparent;
	border: none;
	@media(min-width: $tablet-sm){
		display: none;
	}
}
.header-contact{
  padding:10px 5px;
    @media(min-width: $tablet-sm) {
	   display: inline-flex;
	   width:55%;
	 }
	 &__time{
	 	position: relative;
	 	margin-left: 45px;
	 }
	 &__time::before{
		display: block;
		content: "";
		position: absolute;
		width: 25px;
		height: 25px;
		left: -45px;
		top: 2px;
		background: url('/img/clock.svg')
	 }
	 	 &__phone{
	 	position: relative;
	 	margin-left: 45px;
	 	font-size: 1.1em;
	 }
	 &__phone::before{
	 			display: block;
		content: "";
		position: absolute;
		width: 25px;
		height: 25px;
		left: -45px;
		top: 2px;
		background: url('/img/phone.svg');
		transform: rotate(95deg)
	 }
	 	 	 &__adess{
	 	position: relative;
	 	margin-left: 45px;
	 }
	 &__adess::before{
	 		 	display: block;
		content: "";
		position: absolute;
		width: 22px;
		height: 25px;
		left: -45px;
		top: 2px;
		background: url('/img/address-book.svg')
	 }
}
.main-banner{
	background-image: url("/img/bg-mobile.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin:0 auto;
	padding: 30px 15px 40px;
	box-shadow: 0 -3px 9px 2px rgba(0,0,0, 0.2);
	&__title{
		margin: 60px auto 40px;
		text-align: center;
		text-transform: uppercase;
	}
	&__text{
		margin: 40px auto;
		text-align: center;
		font-weight: 700;
	}
	@media(min-width: $desktop){
		background-image: url("/img/bg.png");
		&__title{
			width: 400px;
			margin: 40px auto 20px;
			text-align: center;
		}
			&__text{
		margin: 15px auto 30px;
		width: 400px;
		text-align: center;
		font-size: 1.2em;
		}
	}
}
.main-menu{
	display: none;
	&__items{
		margin: 0;
		list-style: none;
		padding: 0;
		@media(min-width: $tablet-sm){
			display: flex;
			justify-content: space-evenly;
		}
	}
	@media(min-width: $tablet-sm){
		display: block;
	}
}
.main-menu--show{
	position: fixed;
top: 0;
width: 60%;
background: aqua;
left: 0;
height: 100%;
z-index: 40;
}
