.logo {
	padding:5px;
	display: inline-block;
	width: 60%;
}
.btn--menu{
	display: inline-block;
	width: 30px;
	height: 30px;
	background-image: url("/img/HAMBURGER-MENU.svg");
	vertical-align: bottom;
	text-align: right;
	margin-left: 55px;
}
.header-contact{
padding:10px 5px;
}
.main-banner{
	background-image: url("/img/bg-mobile.png");
	background-repeat: no-repeat;
	margin:0 auto;
	padding: 30px 15px 40px;
	&__text{
		margin: 5px 0 0;
	}
}
.main-menu{
	display: none;
	& ul{
		margin: 0;
		list-style: none;
		padding: 0;
	}
}
