.header-widget{
  background-image: linear-gradient(transparentize($green,0.8), transparentize($green,0.25) 80%);
}
.logo {
  padding:5px;
  display: inline-block;
  width: 60%;
  margin: 0 5px 15px;
  vertical-align: middle;
  @media(min-width: $tablet-sm){
    width: 35%;
  }
}
.btn--menu{
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url("/img/HAMBURGER-MENU.svg");
  vertical-align: middle;
  text-align: right;
  margin-left: 55px;
  background-color: transparent;
  border: none;
  @media(min-width: $tablet-sm){
    display: none;
  }
}
.header-contact{
  padding:10px 5px;
  & a {
    color: inherit;
  }
  @media(min-width: $tablet-sm) {
   display: inline-flex;
   width:100%;
   vertical-align: middle;
   justify-content: space-around;
  }
  @media (min-width: $desktop) {
    width: 60%;
  }
   &__time{
    position: relative;
    margin-left: 55px;
    color: $grey-color;
   }
   &__time::before{
    display: block;
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: -45px;
    top: 2px;
    background: url('/img/clock.svg');
            @media (min-width: $tablet-sm) {
      left: -36px;
      top: 26px;
    }
   }
  &__phone{
    position: relative;
    margin-left: 55px;
    color: $grey-color;
   }
   &__phone::before{
    display: block;
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: -45px;
    top: 2px;
    background: url('/img/phone.svg');
    transform: rotate(95deg);
    @media (min-width: $tablet-sm) {
      left: -36px;
      top: 26px;
    }
   }
    &__adess{
    position: relative;
    margin-left: 55px;
    color: $grey-color;
   }
   &__adess::before{
        display: block;
    content: "";
    position: absolute;
    width: 22px;
    height: 25px;
    left: -45px;
    top: 2px;
    background: url('/img/address-book.svg');
            @media (min-width: $tablet-sm) {
      left: -36px;
      top: 26px;
    }
   }
}
.main-banner{
  background-image: url("/img/bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin:0 auto;
  padding: 30px 15px 40px;
  box-shadow: 0 -3px 9px 2px rgba(0,0,0, 0.2);
  &__title{
    margin: 60px auto 40px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px $white;
  }
  &__text{
    margin: 40px auto;
    text-align: center;
    font-weight: 700;
    text-shadow: 1px 1px 1px $white;
    font-size: 16px;
    text-transform: uppercase;
  }
  @media(min-width: $desktop){
    background-image: url("/img/bg.png");
    padding: 140px 15px 140px;
    &__title{
      font-size: 2em;
      line-height: 2em;
      margin: 40px 200px 20px 200px;
      text-align: right;
    }
      &__text{
    margin: 15px auto 30px;
    text-align: right;
          font-size: 1.4em;
      line-height: 1.4em;
      margin: 40px 200px 20px 200px;
    }
  }
}
.main-menu{
  color: $white;
  text-transform: uppercase;
  & a {
    color:inherit;
  }
  &__items{
    margin: 0;
    list-style: none;
    padding: 0;
    @media(min-width: $tablet-sm){
      display: flex;
      justify-content: space-evenly;
          & li.active{
      color: #591d03;
    }
    }
  }
  @media(min-width: $tablet-sm){
    display: block;
    padding-bottom: 20px;
  }
}
.drop-menu{
  //display: none;
  height: 0;
  overflow: hidden;
  list-style: none;
  @media (min-width: $tablet-sm) {
    position: absolute;
    background: rgba(89, 29, 3, 0.67);
    box-shadow: 0 2px 2px 2px rgba(0,0,0, 0.6);
    border-radius: 10px;
    margin: 20px;
    padding: 10px 15px;
    display: none;
    width: 300px;
    //transition: 1600ms;
    & li {
      padding: 5px 0;
      border-bottom: 1px solid $grey-color;
    }
  }
}
@media (min-width: $tablet-sm) {
.main-menu__dropdown::after{
  display: inline-block;
width: 0;
height: 0;
margin-left: .4em;
vertical-align: middle;
content: "";
border-top: .4em solid;
border-right: .4em solid transparent;
border-left: .4em solid transparent;
}
}

// .main-menu__dropdown:hover .drop-menu{
//  display: block;
//   transition: 600ms
// }
@media(max-width: $tablet-sm - 1px) {
  .main-menu__offcanvas{
    position: fixed;
    transform: translateX(-130%);
    top: 0;
    width: 45%;
    background: #333333;
    padding:30px 15px 20px;
    color: #dddddd;
    left: 0;
    height: 100%;
    z-index: 40;
    transition: 400ms;
    & li {
      margin-top: 20px;
      font-size: 1.1em;
      padding: 10px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
    }
    &--show{
      transform: translateX(0%);
      transition: 400ms;
    }
    &::after{
      content:"";
      display: block;
      position: absolute;
      width: 20px;
      height: 100%;
      top:0;
      right: -20px;
      background: #333333;
      z-index: 40;
      border-left: 1px solid rgba(0, 0, 0, 0.3);
      box-shadow: inset 2px 0 0 rgba(255, 255, 255, 0.05);
    }
  }

}
@media(max-width: $tablet-sm - 1px){
  .close-cross
  {
    position:absolute;
    width:21px;
    height:21px;
    background-color:transparent;
    top: 30px;
    right: 20px;
    cursor:pointer;
  }
  .close-cross::after, .close-cross::before
  {
    border-bottom: 4px solid #fb565a;
    opacity:0.7;
    content: "";
    position: absolute;
    top: 10px;
    left: 0px;
    width:21px;
  }
  .close-cross::before
  {
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .close-cross::after
  {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .close-cross:hover::after, .close-cross:hover::before
  {
    opacity:1;
  }
  .close-cross:active::after, .close-cross:active::before
  {
    opacity:0.1;
  }
}